@font-face {
	font-family: 'Monocraft';
	src: url('Monocraft.ttf') format('truetype');
}

* {
	font-family: 'Monocraft', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: rgba(255, 255, 255, 0.7);
}

body {
	animation: 2s ease-out 0s 1 fadeIn;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: repeating-linear-gradient(
		20deg,
		#000000,
		#000000 20px,
		#101010 20px,
		#101010 40px
	);
}

.soon {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 5vh;
}

.back-button {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	background: linear-gradient(45deg, #005f2f, #6ade98, #005f2f);
	border: none;
	border-radius: 25px;
	font-size: 3vw;
	font-weight: bolder;
	padding: 1vh;
	width: 18vw;
	height: 18vw;
	text-align: center;
}
